---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

.resume-date {
    font-size: 0.75em; 
    font-family: "Lora", serif; font-style: italic; white-space: nowrap;
}

.resume-title {
    margin-bottom: 0.15rem
}

@import "so-simple";

